@charset "UTF-8";

body {
    padding: 0px;
    margin: 0px;
    background-image: url('../imagens/fundo-madeira.jpg');
    background-position: center top;
    background-attachment: fixed;            background-size: cover ;
    background-repeat: no-repeat;
}

section img {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate( -50%, -50%);
}

article img {
    display: block;
    width: 50px;
    border-radius: 50%;
    margin: 10px 0px 20px 10px;
}

article img:hover {
    margin: 10px 0px 20px 15px;
    box-shadow: -3px 4px 6px 1px rgba(0, 0, 0, 0.705);
}

